<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>らく連 ログインページ</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <header class="header-logo">
        <div>らくらく連絡帳</div>
    </header>
    <div id="message">
        <p>今日も一日お疲れ様です♪</p>
        <img src="./static/img/icon2.png" alt="">
    </div>
    
    <button class="top" onclick="location.href='/student_login'">
        ログインページ
    </button>
    
    <div>
        <img src="./static/img/login_child.jpg" class="top-pic" alt="子どもの写真サンプル">
    </div>

    <button class="top" onclick="location.href='/teacher_login'">
        設定
    </button>

</body>
</html>