<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>先生トップページ</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<header>
    <div class="header-logo">先生 トップページ</div>
</header>
<body>
    <button class="top" onclick="location.href='/add'">
            連絡帳追加
    </button>

    <button class="top" onclick="location.href='/register_stu'">
        生徒登録
    </button>

    <button class="top" onclick="location.href='/logout'">
        ログアウト
    </button>
</body>
</html>